interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://viacep.com.br/ws/55645737/json
  response:
    body:
      string: "{\n  \"cep\": \"55645-737\",\n  \"logradouro\": \"Rua Alfredo Roberto\
        \ Barbosa\",\n  \"complemento\": \"\",\n  \"bairro\": \"Santana\",\n  \"localidade\"\
        : \"Gravat\xE1\",\n  \"uf\": \"PE\",\n  \"ibge\": \"2606408\",\n  \"gia\"\
        : \"\",\n  \"ddd\": \"81\"\n}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
